
/****************************/
/* Default Element Styles 	*/
/****************************/

h1 {
	color: #323B3C;
	font-family: 'PT Sans Narrow';
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
	margin-bottom: 2px;
	text-transform: uppercase;
	}

p {
	color: #516163;
	font-family: 'PT Sans';
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 9px;
}

strong {
	color: #323B3C;
	font-size: 15px;
	}

a {
	color: #63B2BB;	
}

a:hover {
	color: #323B3C;
}

body {
	margin: 0px;
}

/********* Desktop *********/
@media screen and (min-width: 800px)  {

	h1 {
		font-size: 30px;
		line-height: 40px;
		letter-spacing: 5px;
		margin-bottom: 5px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 18px;
	}

	strong {
		font-size: 18px;
	}
}

/****************************/
/*		Main Container 		*/
/****************************/

.main-container {
    width: 100%;
   	height: auto;
}

.blocks {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;		
	align-items: stretch;

	width: 100%;
    height: auto;
}

.block {
    width: 50%;
    height: 100%;
}

.block_inner {
	padding: 20px;
	height: 100%;
	width: auto;
	display: flex;
    flex-direction: column;
}

/********* Desktop *********/
@media screen and (min-width: 800px)  {
	.blocks {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.main-container {	
	    height: 100%;
	}
}

/****************************/
/*		Left Block 			*/
/****************************/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes TextSlideInFromLeft {
  0% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes IconSlideInFromLeft {
  0% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

.block_left {
    text-align: center;
	width: 100%;
    height: 70vh;
    left: 0;
    background-color: #63B2BB;
    animation: 1s ease-in 0s 1 slideInFromLeft;
}

#portrait {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.lblock_content {
	width: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    justify-content: center;
}

.panel_container {
	animation: 1s linear 0s 1 TextSlideInFromLeft;
	margin-bottom: 20px;
}

.panel_header {
	color: white;
}

.panel_text {
	width: auto;
	color: white;
	margin-bottom: 35px;
}

.panel_text b {
	font-size:14;
}

.btn_connect {
    background: #0c2f33;
    color: #fff;
    font-size: 18;
    border: 3px solid #0c2f33;
    padding: 15px 60px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'PT Sans';
}

.btn_connect:hover {
    background-color: crimson; 
    border: 3px solid crimson;
    color: #fff;
}

.icon_bar {
	animation: 1.5s linear 0s 1 IconSlideInFromLeft;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 20%;
}

/********* Desktop *********/
@media screen and (min-width: 800px) {
	.block_left {
		height: 100%;
	}

	#portrait {
		background-position: right;
	}

	.lblock_content {
        margin-left: 5%;
    	margin-bottom: 40%;
	}

	.panel_text b {
		font-size:24;
	}
}

/****************************/
/*		Right Block 		*/
/****************************/

@keyframes slideInFromBelow {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  75% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.block_right {
    height: auto;
    width: 100%;
    right: 0;
    animation: 2s ease-in 0s  slideInFromBelow;
}

.skills_text {
	margin-bottom: 20px;
}

.skills_text p {
	margin: 5px 0px;
}

/********* Desktop *********/
@media screen and (min-width: 800px) {
	.block_right {
	    height: auto;
	}
	.block_inner_right {
		display: block;
	}
}






